{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="notice-box text-center text-color home-notice-box">
    <h1 class="display-4 home-heading">Welcome to <span class="text-primary-sc">Scramble!</span></h1>
    <p class="lead">We provide SSO services to de-risk busniesses from data-breaches and thefts. </p>
    <hr class="my-4">
    <p class="white">Use the navigation bar to login or register.</p>
    <p>this is a sandbox to test  integrations.</p>
    <p>
        Please contact us at <a href="mailto:support@scramblesolutions.com" class="text-highlight"> support@scramblesolutions.com </a> for any queries and access to the API documentation.
    </p>
</div>
{% endblock %}
