{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="sc-card mt-5">
                    <div class="sc-card-header text-center text-highlight">
                        <h4>Account Login</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            <div class="form-group">
                                <label for="username" class="text-color">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-color">Password</label>
                                {{ form.password }}
                            </div>
                            <button type="submit" class="btn sc-btn-primary btn-block">Sign In</button>
                        </form>
                        {% if form.errors %}
                            <div class="alert alert-danger mt-3">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div>{{ error }}</div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
